@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: #0F7E13;
    display: flex;
    justify-content: center;
    
}


.card {
    width: 55%;

}

.palo{
    font-size: 60px;

}
.numero{
    font-size: 100px;
}